:root {
  --normal-tile-city-color: #86efac;
  --normal-tile-company-color: #67e8f9;
  --normal-tile-default-color: #e5e5e5;
  --normal-tile-text-color: #000000;
  --normal-tile-outline-color: #ffffff;
}
